*.sh
*.md
*.woff
*.ttf
*html

dist
Dockerfile

.husky
.vscode
.idea
.project
.DS_Store
.hbuilderx
src/.hbuilderx

node_modules/
unpackage/
discard/
public/
docs/
bin/


package-lock.json